
<div class="jumbotron center">
  <h1>Welcome to VoteRB</h1>
  <%= link_to 'Create new Poll', new_poll_path, :class => "btn btn-success btn-block btn-lg" %>
</div>
<p class="center">VoteRB is a voting system built on Rails. Click above to create a new poll or view one of the existing polls below.</p>
<table class="table table-striped table-hover">
  <tr>
    <th>Poll Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @polls.each do |poll| %>
    <tr>
      <td><%= link_to poll.title, poll_path(poll), :class => "btn btn-info btn-block" %></td>
      <td><%= link_to "Edit Poll", edit_poll_path(poll), :class => "btn btn-success btn-block" %></td>
      <td><%= link_to "Delete Poll", poll_path(poll), method: :delete, data: { confirm: "Are you sure you want to delete this poll?" }, :class => "btn btn-danger btn-block" %></td>
    </tr>
  <% end %>
</table>
